mixin li_a(href, name)
    li
        if attributes.span == true
            a(class=attributes.class, href=href, target=attributes.target)
                if attributes.i_pos == "left"
                    i(class!=attributes.i)
                span #{name}
                if attributes.i_pos == "right"
                    i(class!=attributes.i)
        else
            a(class=attributes.class, href=href, target=attributes.target)=name
                if attributes.i_pos == "left"
                    i(class!=attributes.i)
                if attributes.i_pos == "right"
                    i(class!=attributes.i)
        if block
            block

mixin li_a_img(src)
    if attributes.href
        li
            a(href=href)
                if attributes.title
                    img(src=src, alt=title)
                    h3 #{title}
                else
                    img(src=src)
    else
        li
            a(href="#")
                if attributes.title
                    img(src=src, alt=title)
                    h3 #{attributes.title}
                else
                    img(src=src)

mixin li_btn(href, name)
    li
        if attributes.btn_style
            div.btn(class=attributes.btn_style)
                a(target=attributes.target, href=href)=name
        else
            div.btn.default
                a(target=attributes.target, href=href)=name

mixin t_cite(authors, title, status, conference, misc, ...links)
    if attributes.abbr
        |<strong>[#{attributes.abbr}]</strong>
    |  #{authors || ""}, <em>"#{title || ""},"</em> #{status || ""} <strong>#{conference || ""}</strong>, #{misc || ""}
    each link in links
        - if (link.title == undefined)
            |  [<a target="_blank" href="#{link.url}">#{(link.url.substr(link.url.lastIndexOf('.') + 1).toUpperCase() || link.url)}</a>]
        - else
            |  [<a target="_blank" href="#{link.url}">#{link.title}</a>]

mixin li_cite(authors, title, status, conference, misc, ...links)
    li
        if attributes.abbr
            |<strong>[#{attributes.abbr}]</strong>
        +t_cite(authors, title, status, conference, misc)
        each link in links
            - if (link.title == undefined)
                |  [<a target="_blank" href="#{link.url}">#{(link.url.substr(link.url.lastIndexOf('.') + 1).toUpperCase() || link.url)}</a>]
            - else
                |  [<a target="_blank" href="#{link.url}">#{link.title}</a>]