extends _base

block vars
   - var title = "Homepage"
   - var body_id = "home"
   - var footer_shaded = true

block content
   include _splash
   include _navbar
   .wrapper
      section.row#wxb_intro
         article.eight.columns
            h2 Xinbing Wang 王新兵
            dl
               dd Distinguished Professor, Assistant Dean
               dd School of Electronic, Information & Electrical Engineering
               dd Shanghai Jiao Tong University
            dl
               dd Editor for IEEE/ACM Transactions on Networking
               dd Associate Editor for IEEE Transactions on Mobile Computing
            dl
               dd Office: SEIEE Building 5-301A
               dd Email:
                  a(href="mailto:xwang8@sjtu.edu.cn")
   .wrapper
      section.row#whats-new
         article.four.columns
            figure
               img(src="img/home.updates.png" alt="What's new")
               h3 What's New
         article.eight.columns
            table.striped#whats-new-table.
               <tbody>
               <tr>
               <td>TPC for ACM MobiHoc 2015</td>
               </tr>
               <tr>
               <td><a href="http://iwct.sjtu.edu.cn/Personal/xwang8/Photos.files/2014-xiamentravel.pdf">2014 Xiamen
               travel's photo is available here</a></td>
               </tr>
               <tr>
               <td>J. Zhang, L. Fu, X. Tian, Y. Cui, Xinbing Wang, "Analysis of Random Walk Mobility Models with
               Location Heterogeneity," in IEEE Transactions on Parallel and Distributed Systems, 2014.
               (Correspondence Author)[<a href="http://iwct.sjtu.edu.cn/Personal/xwang8/paper/TPDS2014_1.pdf">PDF</a>]
               </td>
               </tr>
               <tr>
               <td>R. Jia, J. Zhang, F. Yang, X. Gan, X. Tian, P. Du, Xinbing Wang, "Throughput and Delay in
               Heterogeneous Cognitive Radio Networks with Cooperative Secondary Users," in IEEE Transactions
               on Parallel and Distributed Systems, 2014. (Correspondence Author)[<a
               href="http://iwct.sjtu.edu.cn/Personal/xwang8/paper/TPDS2014.pdf">PDF</a>]
               </td>
               </tr>
               <tr>
               <td>J. Luo, J. Zhang, L. Yu, Xinbing Wang, "Impact of Location Popularity on Throughput and Delay in
               Mobile Ad Hoc Networks," in IEEE Transactions on Mobile Computing, 2014. (Correspondence
               Author)[<a href="http://iwct.sjtu.edu.cn/Personal/xwang8/paper/TMC2014.pdf">PDF</a>]
               </td>
               </tr>
               <tr>
               <td>R. Jia, K. Zheng, J. Zhang, L. Fu, P. Du, Xinbing Wang, J. Xu, "Asymptotic Analysis on
               Throughput and Delay in Cognitive Social Networks," to appear in IEEE Transactions on
               Communications, 2014. (Correspondence Author)[<a
               href="http://iwct.sjtu.edu.cn/Personal/xwang8/paper/TCOM2014.pdf">PDF</a>]
               </td>
               </tr>
               <tr>
               <td>L. Fu, Xinbing Wang, P. R. Kumar, "Optimal determination of source-destination connectivity in
               random graphs," in Proc. of ACM MobiHoc 2014, Philadelphia, PA, USA, Aug, 2014.(Correspondence
               Author)[<a href="http://iwct.sjtu.edu.cn/Personal/xwang8/paper/MobiHoc2014.pdf">PDF</a>][<a
               href="http://iwct.sjtu.edu.cn/Personal/xwang8/paper/MobiHoc2014_slides.ppt">PPT</a>]
               </td>
               </tr>
               <tr>
               <td>Y. Chen, J. Zhang, Xinbing Wang, X. Tian, W. Wu, F. Wu, C. W. Tan, "Secrecy Capacity Scaling of
               Large-Scale Cognitive Networks," in Proc. of ACM MobiHoc 2014, Philadelphia, PA, USA, Aug,
               2014.(Correspondence Author)[<a
               href="http://iwct.sjtu.edu.cn/Personal/xwang8/paper/MobiHoc2014_1.pdf">PDF</a>][<a
               href="http://iwct.sjtu.edu.cn/Personal/xwang8/paper/MobiHoc2014_slides1.pptx">PPT</a>]
               </td>
               </tr>
               <tr>
               <td><a href="http://iwct.sjtu.edu.cn/Personal/xwang8/Photos.htm">Graduation 2014 photo is
               uploaded</a></td>
               </tr>
               </tbody>
