extends _base
block vars
    - var title = "Photo"
    - var body_id = "photo"
    - var footer_shaded = true
block content
    include _splash
    include _navbar
    .wrapper
        .modal#photo-modal
            .content
                a.close.switch(gumby-trigger='|#photo-modal')
                    i.icon-cancel
                .row
                    .ten.columns.centered.text-center
                        figure
                            img#photo-large(src="http://iwct.sjtu.edu.cn/Personal/xwang8/Photos.files/image001.jpg")
                            h3 Happy New Year Party of 2015/1/1
                            img#photo-large-loading(src="img/loading.gif")
        section.row.grid-wrap
            ul.grid.swipe-right#grid
                +li_a_img("http://iwct.sjtu.edu.cn/Personal/xwang8/Photos.files/image292.jpg")(retina=true, title="Congratulation to Zhao Shizhen’s phd graduation@Purdue , Aug. 2015")
                +li_a_img("http://iwct.sjtu.edu.cn/Personal/xwang8/Photos.files/image290.jpg")(retina=true, title="Congratulation to Zhao Shizhen’s phd graduation@Purdue , Aug. 2015")

                +li_a_img("http://iwct.sjtu.edu.cn/Personal/xwang8/Photos.files/image288.jpg")(retina=true, title="Students Liu Tianyuan and Luo Ruotian@Tibet, July 2015")
                +li_a_img("http://iwct.sjtu.edu.cn/Personal/xwang8/Photos.files/image286.jpg")(retina=true, title="Students Liu Tianyuan and Luo Ruotian@Tibet, July 2015")
                +li_a_img("http://iwct.sjtu.edu.cn/Personal/xwang8/Photos.files/image284.jpg")(retina=true, title="Students Liu Tianyuan and Luo Ruotian@Tibet, July 2015")
                +li_a_img("http://iwct.sjtu.edu.cn/Personal/xwang8/Photos.files/image282.jpg")(retina=true, title="Student Zheng Kechen@Hakodate squid festival, July 2015")
                +li_a_img("http://iwct.sjtu.edu.cn/Personal/xwang8/Photos.files/image280.jpg")(retina=true, title="Student Zheng Kechen@Hakodate squid festival, July 2015")
                +li_a_img("http://iwct.sjtu.edu.cn/Personal/xwang8/Photos.files/image278.jpg")(retina=true, title="Prof. Xiaojun Lin@Purdue's talk, July 2015, July 2015")
                +li_a_img("http://iwct.sjtu.edu.cn/Personal/xwang8/Photos.files/image276.jpg")(retina=true, title="Prof. Xiaojun Lin@Purdue's talk, July 2015, July 2015")

                +li_a_img("http://iwct.sjtu.edu.cn/Personal/xwang8/Photos.files/image273.jpg")(title="Congratulation for Xinxin Feng passing the thesis defense!, June 2015")
                +li_a_img("http://iwct.sjtu.edu.cn/Personal/xwang8/Photos.files/image271.jpg")(title="Congratulation for Xinxin Feng passing the thesis defense!, June 2015")
                +li_a_img("http://iwct.sjtu.edu.cn/Personal/xwang8/Photos.files/image270.jpg")(retina=true, title="Prof. P.R.Kumar playing ping-pong with Prof. Wang, June 2015")
                +li_a_img("http://iwct.sjtu.edu.cn/Personal/xwang8/Photos.files/image268.jpg")(retina=true, title="Prof. P.R.Kumar’s visit, June 2015")
                +li_a_img("http://iwct.sjtu.edu.cn/Personal/xwang8/Photos.files/image266.jpg")(retina=true, title="Prof. Lingjie Duan’s visit, June 2015")
                +li_a_img("http://iwct.sjtu.edu.cn/Personal/xwang8/Photos.files/image264.jpg")(retina=true, title="Prof. Yinyin Chen’s visit, June 2015")
                +li_a_img("http://iwct.sjtu.edu.cn/Personal/xwang8/Photos.files/image262.jpg")(retina=true, title="Prof. Lili Qiu’s visit, June 2015")
                +li_a_img("http://iwct.sjtu.edu.cn/Personal/xwang8/Photos.files/image260.jpg")(retina=true, title="Prof. Xinyu Zhang’s visit, June 2015")
                +li_a_img("http://iwct.sjtu.edu.cn/Personal/xwang8/Photos.files/image258.jpg")(retina=true, title="Jinbei@ISIT,2015, June 2015")
                +li_a_img("http://iwct.sjtu.edu.cn/Personal/xwang8/Photos.files/image256.jpg")(retina=true, title="Jinbei@ISIT,2015, June 2015")
                +li_a_img("http://iwct.sjtu.edu.cn/Personal/xwang8/Photos.files/image254.jpg")(retina=true, title="Prof. Chamberland’s visit, June 2015")
                +li_a_img("http://iwct.sjtu.edu.cn/Personal/xwang8/Photos.files/image252.jpg")(retina=true, title="Prof. Chamberland’s visit, June 2015")
                +li_a_img("http://iwct.sjtu.edu.cn/Personal/xwang8/Photos.files/image250.jpg")(retina=true, title="Prof. Jie Wu’s visit, June 2015")
                +li_a_img("http://iwct.sjtu.edu.cn/Personal/xwang8/Photos.files/image248.jpg")(retina=true, title="Prof. Guoliang Xing’s visit, June 2015")
                +li_a_img("http://iwct.sjtu.edu.cn/Personal/xwang8/Photos.files/image246.jpg")(retina=true, title="Prof. Zixiang Xiong’s visit, June 2015")
                +li_a_img("http://iwct.sjtu.edu.cn/Personal/xwang8/Photos.files/image244.jpg")(retina=true, title="Prof. Chao Tian’s visit, June 2015")
                +li_a_img("http://iwct.sjtu.edu.cn/Personal/xwang8/Photos.files/image242.jpg")(retina=true, title="Group party of Spark, June 2015")
                +li_a_img("http://iwct.sjtu.edu.cn/Personal/xwang8/Photos.files/image239.jpg")(title="Congratulation for Qin Yi passing the thesis defense!, June 2015")

                +li_a_img("http://iwct.sjtu.edu.cn/Personal/xwang8/Photos.files/image238.jpg")(retina=true, title="Congratulation for 2015 sjtuer graduation!, May 2015")
                +li_a_img("http://iwct.sjtu.edu.cn/Personal/xwang8/Photos.files/image236.jpg")(retina=true, title="Congratulation for 2015 sjtuer graduation!, May 2015")
                +li_a_img("http://iwct.sjtu.edu.cn/Personal/xwang8/Photos.files/image234.jpg")(retina=true, title="Congratulation for 2015 sjtuer graduation!, May 2015")
                +li_a_img("http://iwct.sjtu.edu.cn/Personal/xwang8/Photos.files/image232.jpg")(retina=true, title="Congratulation for 2015 sjtuer graduation!, May 2015")
                +li_a_img("http://iwct.sjtu.edu.cn/Personal/xwang8/Photos.files/image230.jpg")(retina=true, title="Congratulation for 2015 sjtuer graduation!, May 2015")
                +li_a_img("http://iwct.sjtu.edu.cn/Personal/xwang8/Photos.files/image228.jpg")(retina=true, title="Ruixiong Zhang, VP @ Foxconn visit, May 2015")
                +li_a_img("http://iwct.sjtu.edu.cn/Personal/xwang8/Photos.files/image226.jpg")(retina=true, title="Alumni Xia Zhisheng, CTO @ Zai Lu Shang visit, May 2015")
                +li_a_img("http://iwct.sjtu.edu.cn/Personal/xwang8/Photos.files/image220.jpg")(retina=true, title="Prof. Lei Ying @ Arizona State University’s visit, May 2015")
                +li_a_img("http://iwct.sjtu.edu.cn/Personal/xwang8/Photos.files/image222.jpg")(retina=true, title="Prof. Lei Ying @ Arizona State University’s visit, May 2015")
                +li_a_img("http://iwct.sjtu.edu.cn/Personal/xwang8/Photos.files/image224.jpg")(retina=true, title="Prof. Lei Ying @ Arizona State University’s visit, May 2015")
                +li_a_img("http://iwct.sjtu.edu.cn/Personal/xwang8/Photos.files/image188.jpg")(retina=true, title="INFOCOM 2015, HONG KONG, Dr. Gao Lin at CUHK treats SJTUer lunch, May 2015")
                +li_a_img("http://iwct.sjtu.edu.cn/Personal/xwang8/Photos.files/image214.jpg")(retina=true, title="INFOCOM 2015, HONG KONG, Photo with Prof. Francois Baccelli @ UTaxas, May 2015")
                +li_a_img("http://iwct.sjtu.edu.cn/Personal/xwang8/Photos.files/image216.jpg")(retina=true,  title="INFOCOM 2015, HONG KONG, Photo with Prof. R. Srikant @ UIUC, May 2015")
                +li_a_img("http://iwct.sjtu.edu.cn/Personal/xwang8/Photos.files/image190.jpg")(retina=true, title="INFOCOM 2015, HONG KONG, Group photo at Victoria Harbor, May 2015")
                +li_a_img("http://iwct.sjtu.edu.cn/Personal/xwang8/Photos.files/image192.jpg")(retina=true, title="INFOCOM 2015, HONG KONG, Group photo at Sheraton Conference Venue, May 2015")

                +li_a_img("http://iwct.sjtu.edu.cn/Personal/xwang8/Photos.files/image194.jpg")(retina=true, title="Prof. Chunyi Peng @ the Ohio State University’s visit, Apr. 2015")
                +li_a_img("http://iwct.sjtu.edu.cn/Personal/xwang8/Photos.files/image196.jpg")(retina=true, title="Prof. Chunyi Peng @ the Ohio State University’s visit, Apr. 2015")

                +li_a_img("http://iwct.sjtu.edu.cn/Personal/xwang8/Photos.files/image198.jpg")(retina=true, title="Prof. Guoliang Xue @ the Arizona State University’s visit, Apr. 2015")
                +li_a_img("http://iwct.sjtu.edu.cn/Personal/xwang8/Photos.files/image200.jpg")(retina=true, title="Prof. Guoliang Xue @ the Arizona State University’s visit, Apr. 2015")
                +li_a_img("http://iwct.sjtu.edu.cn/Personal/xwang8/Photos.files/image202.jpg")(retina=true, title="Prof. Guoliang Xue @ the Arizona State University’s visit, Apr. 2015")

                +li_a_img("http://iwct.sjtu.edu.cn/Personal/xwang8/Photos.files/image204.jpg")(title="Happy Birthday to Yuting Bao, April 2015")


                +li_a_img("http://iwct.sjtu.edu.cn/Personal/xwang8/Photos.files/image208.jpg")(retina=true, title="Qin Yi's TRAVEL @ Nepal")
                +li_a_img("http://iwct.sjtu.edu.cn/Personal/xwang8/Photos.files/image210.jpg")(retina=true, title="Qin Yi's TRAVEL @ Nepal")

                +li_a_img("http://iwct.sjtu.edu.cn/Personal/xwang8/Photos.files/image212.jpg")(title="Congratulation to Guanglin for Promotion to Department Chair ")

                +li_a_img("http://iwct.sjtu.edu.cn/Personal/xwang8/Photos.files/image002.jpg")(retina=true, title="Happy New Year Party of 2015/1/1")
                +li_a_img("http://iwct.sjtu.edu.cn/Personal/xwang8/Photos.files/image004.jpg")(retina=true, title="Happy New Year Party of 2015/1/1")
                +li_a_img("http://iwct.sjtu.edu.cn/Personal/xwang8/Photos.files/image006.jpg")(retina=true, title="Happy New Year Party of 2015/1/1")
                +li_a_img("http://iwct.sjtu.edu.cn/Personal/xwang8/Photos.files/image008.jpg")(retina=true, title="Happy New Year Party of 2015/1/1")
                li.title-box
                    h2 US trip on Dec 2014 with my students
                +li_a_img("http://iwct.sjtu.edu.cn/Personal/xwang8/Photos.files/image010.jpg")(retina=true, title="Students @ UTaxas, UCDavis, UNL, Purdue")
                +li_a_img("http://iwct.sjtu.edu.cn/Personal/xwang8/Photos.files/image012.jpg")(retina=true, title="Students @ Caltech, UCLA, USC")
                +li_a_img("http://iwct.sjtu.edu.cn/Personal/xwang8/Photos.files/image014.jpg")(retina=true, title="Students @ Stanford")
                +li_a_img("http://iwct.sjtu.edu.cn/Personal/xwang8/Photos.files/image016.jpg")(retina=true, title="Students @ Stanford")
                +li_a_img("http://iwct.sjtu.edu.cn/Personal/xwang8/Photos.files/image018.jpg")(retina=true, title="Students @ UTaxas")
                li.title-box
                    h2 US trip on Dec 2014 with faculty
                +li_a_img("http://iwct.sjtu.edu.cn/Personal/xwang8/Photos.files/image020.jpg")(retina=true, title="Prof. P. R. Kumar @TAMU")
                +li_a_img("http://iwct.sjtu.edu.cn/Personal/xwang8/Photos.files/image022.jpg")(retina=true, title="Prof. Gustavo de Veciana @ UTaxas")
                +li_a_img("http://iwct.sjtu.edu.cn/Personal/xwang8/Photos.files/image024.jpg")(retina=true, title="Prof. Tie Liu @TAMU")
                +li_a_img("http://iwct.sjtu.edu.cn/Personal/xwang8/Photos.files/image026.jpg")(retina=true, title="Prof. I-Hong Hou @ TAMU")
                +li_a_img("http://iwct.sjtu.edu.cn/Personal/xwang8/Photos.files/image028.jpg")(retina=true, title="Prof. Dmitri Loguinov @ TAMU")
                +li_a_img("http://iwct.sjtu.edu.cn/Personal/xwang8/Photos.files/image030.jpg")(retina=true, title="Prof. David Tse @ Stanford University’s visit, Oct 2014")
                +li_a_img("http://iwct.sjtu.edu.cn/Personal/xwang8/Photos.files/image032.jpg")(retina=true, title="Prof. David Tse @ Stanford University’s visit, Oct 2014")
                +li_a_img("http://iwct.sjtu.edu.cn/Personal/xwang8/Photos.files/image034.jpg")(retina=true, title="Photo with My First Billionaire Student, Sept 2014")
                +li_a_img("http://iwct.sjtu.edu.cn/Personal/xwang8/Photos.files/image036.jpg")(retina=true, title="Photo with My First Billionaire Student, Sept 2014")
                +li_a_img("http://iwct.sjtu.edu.cn/Personal/xwang8/Photos.files/image038.jpg")(retina=true, title="New Semester Party, Sept 2014")
                +li_a_img("http://iwct.sjtu.edu.cn/Personal/xwang8/Photos.files/image040.jpg")(retina=true, title="New Semester Party, Sept 2014")
                +li_a_img("http://iwct.sjtu.edu.cn/Personal/xwang8/Photos.files/image042.jpg")(retina=true, title="National Scholarship and Best Presentation Award Celebration, 2014")
                li.title-box
                    h2
                        a(href="http://iwct.sjtu.edu.cn/Personal/xwang8/Photos.files/2014-xiamentravel.pdf" target="_blank") Group Travel to Xiamen, Aug 2014
                +li_a_img("http://iwct.sjtu.edu.cn/Personal/xwang8/Photos.files/image048.jpg")(retina=true, title="MobiHoc 2014, Aug 2014")
                +li_a_img("http://iwct.sjtu.edu.cn/Personal/xwang8/Photos.files/image050.jpg")(retina=true, title="MobiHoc 2014, Aug 2014")
                +li_a_img("http://iwct.sjtu.edu.cn/Personal/xwang8/Photos.files/image052.jpg")(retina=true, title="Happy Birthday to Luoyi Fu, May 2014")
                +li_a_img("http://iwct.sjtu.edu.cn/Personal/xwang8/Photos.files/image054.jpg")(retina=true, title="INFOCOM 2014， April 2014, Toronto, Canada")
                +li_a_img("http://iwct.sjtu.edu.cn/Personal/xwang8/Photos.files/image056.jpg")(retina=true, title="INFOCOM 2014， April 2014, Toronto, Canada")
                +li_a_img("http://iwct.sjtu.edu.cn/Personal/xwang8/Photos.files/image058.jpg")(retina=true, title="INFOCOM 2014， April 2014, Toronto, Canada")
                +li_a_img("http://iwct.sjtu.edu.cn/Personal/xwang8/Photos.files/image060.jpg")(retina=true, title="INFOCOM 2014， April 2014, Toronto, Canada")
                +li_a_img("http://iwct.sjtu.edu.cn/Personal/xwang8/Photos.files/image062.jpg")(retina=true, title="Graduation, April 2014")
                +li_a_img("http://iwct.sjtu.edu.cn/Personal/xwang8/Photos.files/image064.jpg")(retina=true, title="Congratulations to Guanglin Zhang for his daughter, April 2014")
                +li_a_img("http://iwct.sjtu.edu.cn/Personal/xwang8/Photos.files/image066.jpg")(retina=true, title="Congratulations to Gaofei Sun for being a father, Feb 2014")
                +li_a_img("http://iwct.sjtu.edu.cn/Personal/xwang8/Photos.files/image068.jpg")(retina=true, title="Group party for the new year’s eve, Jan 2014")
                +li_a_img("http://iwct.sjtu.edu.cn/Personal/xwang8/Photos.files/image070.jpg")(retina=true, title="Group party for the new year’s eve, Jan 2014")
                +li_a_img("http://iwct.sjtu.edu.cn/Personal/xwang8/Photos.files/image072.jpg")(retina=true, title="Group party for the new year’s eve, Jan 2014")
                +li_a_img("http://iwct.sjtu.edu.cn/Personal/xwang8/Photos.files/image074.jpg")(retina=true, title="Group party for the new year’s eve, Jan 2014")
                +li_a_img("http://iwct.sjtu.edu.cn/Personal/xwang8/Photos.files/image076.jpg")(retina=true, title="Group party for the new year’s eve, Jan 2014")
                +li_a_img("http://iwct.sjtu.edu.cn/Personal/xwang8/Photos.files/image078.jpg")(retina=true, title="Group party for the new year’s eve, Jan 2014")
                +li_a_img("http://iwct.sjtu.edu.cn/Personal/xwang8/Photos.files/image080.jpg")(retina=true, title="Prof. Songwu Lu@UCLA’s visit Dec 2013")
                +li_a_img("http://iwct.sjtu.edu.cn/Personal/xwang8/Photos.files/image082.jpg")(retina=true, title="Prof. Songwu Lu@UCLA’s visit Dec 2013")
                +li_a_img("http://iwct.sjtu.edu.cn/Personal/xwang8/Photos.files/image084.jpg")(retina=true, title="Prof. Baochun Li@UToronto’s visit, Nov 2013")
                +li_a_img("http://iwct.sjtu.edu.cn/Personal/xwang8/Photos.files/image086.jpg")(retina=true, title="Prof. Baochun Li@UToronto’s visit, Nov 2013")
                +li_a_img("http://iwct.sjtu.edu.cn/Personal/xwang8/Photos.files/image088.jpg")(retina=true, title="Congratulations to Jinbei’s National Scholarship Award, Nov 2013")
                +li_a_img("http://iwct.sjtu.edu.cn/Personal/xwang8/Photos.files/image090.jpg")(retina=true, title="Congratulations to Jinbei’s National Scholarship Award, Nov 2013")
                +li_a_img("http://iwct.sjtu.edu.cn/Personal/xwang8/Photos.files/image092.jpg")(retina=true, title="Congratulations to Jinbei’s National Scholarship Award, Nov 2013")
                +li_a_img("http://iwct.sjtu.edu.cn/Personal/xwang8/Photos.files/image094.jpg")(retina=true, title="Congratulations to Jinbei’s National Scholarship Award, Nov 2013")
                +li_a_img("http://iwct.sjtu.edu.cn/Personal/xwang8/Photos.files/image096.jpg")(retina=true, title="Congratulations to Ma Chuan for IEEE WCSP 2013 Best Paper Award")
                +li_a_img("http://iwct.sjtu.edu.cn/Personal/xwang8/Photos.files/image098.jpg")(retina=true, title="Mid-Autumn holiday dinner, Sept 2013")
                +li_a_img("http://iwct.sjtu.edu.cn/Personal/xwang8/Photos.files/image098.jpg")(retina=true, title="Summer Trip to Mountain Hua (华山之旅)， Aug 2013")
                +li_a_img("http://iwct.sjtu.edu.cn/Personal/xwang8/Photos.files/image100.jpg")(retina=true, title="Summer Trip to Mountain Hua (华山之旅)， Aug 2013")
                +li_a_img("http://iwct.sjtu.edu.cn/Personal/xwang8/Photos.files/image102.jpg")(retina=true, title="Summer Trip to Mountain Hua (华山之旅)， Aug 2013")
                +li_a_img("http://iwct.sjtu.edu.cn/Personal/xwang8/Photos.files/image104.jpg")(retina=true, title="Summer Trip to Mountain Hua (华山之旅)， Aug 2013")
                +li_a_img("http://iwct.sjtu.edu.cn/Personal/xwang8/Photos.files/image106.jpg")(retina=true, title="Summer Trip to Mountain Hua (华山之旅)， Aug 2013")
                +li_a_img("http://iwct.sjtu.edu.cn/Personal/xwang8/Photos.files/image108.jpg")(retina=true, title="Summer Trip to Mountain Hua (华山之旅)， Aug 2013")
                +li_a_img("http://iwct.sjtu.edu.cn/Personal/xwang8/Photos.files/image110.jpg")(retina=true, title="Congratulations to Qin Yi’s Marriage (Honeymoon at The Republic of Maldives, 马尔代夫)，July 2013")
                +li_a_img("http://iwct.sjtu.edu.cn/Personal/xwang8/Photos.files/image112.jpg")(retina=true, title="Congratulations to Qin Yi’s Marriage (Honeymoon at The Republic of Maldives, 马尔代夫)，July 2013")
                +li_a_img("http://iwct.sjtu.edu.cn/Personal/xwang8/Photos.files/image114.jpg")(retina=true, title="Graduation, May 2013")
                +li_a_img("http://iwct.sjtu.edu.cn/Personal/xwang8/Photos.files/image116.jpg")(retina=true, title="Party for Zhang Jinbei’s first TON paper, March, 2013")
                +li_a_img("http://iwct.sjtu.edu.cn/Personal/xwang8/Photos.files/image118.jpg")(retina=true, title="Party for Zhang Jinbei’s first TON paper, March, 2013")
                +li_a_img("http://iwct.sjtu.edu.cn/Personal/xwang8/Photos.files/image119.jpg")(title="Party for Zhang Jinbei’s first TON paper, March, 2013")
                +li_a_img("http://iwct.sjtu.edu.cn/Personal/xwang8/Photos.files/image120.jpg")(title="Party for Zhang Jinbei’s first TON paper, March, 2013")
                li.title-box
                    h2
                        a(href="http://www.tudou.com/programs/view/TR3oneT6Nok/" target="_blank") Congratulation Video for Xinxin's marriage
                +li_a_img("http://iwct.sjtu.edu.cn/Personal/xwang8/Photos.files/image122.jpg")(title="Graduation, May 2012")
                +li_a_img("http://iwct.sjtu.edu.cn/Personal/xwang8/Photos.files/image123.jpg")(title="Prof. Xiaojun Lin@Purdue, 2012")
                +li_a_img("http://iwct.sjtu.edu.cn/Personal/xwang8/Photos.files/image124.jpg")(title="Prof. Xiaojun Lin@Purdue, 2012")
                +li_a_img("http://iwct.sjtu.edu.cn/Personal/xwang8/Photos.files/image125.jpg")(title="Prof. Xiaojun Lin@Purdue, 2012")
                +li_a_img("http://iwct.sjtu.edu.cn/Personal/xwang8/Photos.files/image126.jpg")(title="Prof. Xiaojun Lin@Purdue, 2012")
                +li_a_img("http://iwct.sjtu.edu.cn/Personal/xwang8/Photos.files/image127.jpg")(title="Yellow Mountain Trip 2012")
                +li_a_img("http://iwct.sjtu.edu.cn/Personal/xwang8/Photos.files/image128.jpg")(title="Yellow Mountain Trip 2012")
                +li_a_img("http://iwct.sjtu.edu.cn/Personal/xwang8/Photos.files/image129.jpg")(title="Yellow Mountain Trip 2012")
                +li_a_img("http://iwct.sjtu.edu.cn/Personal/xwang8/Photos.files/image130.jpg")(title="Yellow Mountain Trip 2012")
                +li_a_img("http://iwct.sjtu.edu.cn/Personal/xwang8/Photos.files/image131.jpg")(title="Yellow Mountain Trip 2012")
                +li_a_img("http://iwct.sjtu.edu.cn/Personal/xwang8/Photos.files/image132.jpg")(title="Yellow Mountain Trip 2012")
                +li_a_img("http://iwct.sjtu.edu.cn/Personal/xwang8/Photos.files/image133.jpg")(title="Dinner Party, 2012")
                +li_a_img("http://iwct.sjtu.edu.cn/Personal/xwang8/Photos.files/image134.jpg")(title="Dinner Party, 2012")
                +li_a_img("http://iwct.sjtu.edu.cn/Personal/xwang8/Photos.files/image135.jpg")(title="Prof. Mingyan Liu @ UMICH, 2012")
                +li_a_img("http://iwct.sjtu.edu.cn/Personal/xwang8/Photos.files/image136.jpg")(title="Prof. Mingyan Liu @ UMICH, 2012")
                +li_a_img("http://iwct.sjtu.edu.cn/Personal/xwang8/Photos.files/image137.jpg")(title="Annual Party 2011")
                +li_a_img("http://iwct.sjtu.edu.cn/Personal/xwang8/Photos.files/image138.jpg")(title="Annual Party 2011")
                +li_a_img("http://iwct.sjtu.edu.cn/Personal/xwang8/Photos.files/image139.jpg")(title="Annual Party 2011")
                +li_a_img("http://iwct.sjtu.edu.cn/Personal/xwang8/Photos.files/image140.jpg")(title="Annual Party 2011")
                +li_a_img("http://iwct.sjtu.edu.cn/Personal/xwang8/Photos.files/image141.jpg")(title="Annual Party 2011")
                +li_a_img("http://iwct.sjtu.edu.cn/Personal/xwang8/Photos.files/image218.jpg")(retina=true,title="Graduation May 2011")
                +li_a_img("http://iwct.sjtu.edu.cn/Personal/xwang8/Photos.files/image144.jpg")(title="Prof. Steven Low @ Caltech visit")
                +li_a_img("http://iwct.sjtu.edu.cn/Personal/xwang8/Photos.files/image145.jpg")(title="Prof. Steven Low @ Caltech visit")
                +li_a_img("http://iwct.sjtu.edu.cn/Personal/xwang8/Photos.files/image146.jpg")(title="Prof. Lili Qiu @ UT-Texas visit")
                +li_a_img("http://iwct.sjtu.edu.cn/Personal/xwang8/Photos.files/image147.jpg")(title="Prof. Lili Qiu @ UT-Texas visit")
                +li_a_img("http://iwct.sjtu.edu.cn/Personal/xwang8/Photos.files/image148.jpg")(title="Luo Zhe’s Birthday")
                +li_a_img("http://iwct.sjtu.edu.cn/Personal/xwang8/Photos.files/image149.jpg")(title="Luo Zhe’s Birthday")
                +li_a_img("http://iwct.sjtu.edu.cn/Personal/xwang8/Photos.files/image150.jpg")(title="Prof. Pramod Viswanath @ UIUC visit")
                +li_a_img("http://iwct.sjtu.edu.cn/Personal/xwang8/Photos.files/image151.jpg")(title="Prof. Pramod Viswanath @ UIUC visit")
                +li_a_img("http://iwct.sjtu.edu.cn/Personal/xwang8/Photos.files/image152.jpg")(title="Zhang Meng’s Birthday, Oct 2011")
                +li_a_img("http://iwct.sjtu.edu.cn/Personal/xwang8/Photos.files/image153.jpg")(title="Zhang Meng’s Birthday, Oct 2011")
                +li_a_img("http://iwct.sjtu.edu.cn/Personal/xwang8/Photos.files/image154.jpg")(title="Zhang Meng’s Birthday, Oct 2011")
                +li_a_img("http://iwct.sjtu.edu.cn/Personal/xwang8/Photos.files/image155.jpg")(title="Zhang Meng’s Birthday, Oct 2011")
                +li_a_img("http://iwct.sjtu.edu.cn/Personal/xwang8/Photos.files/image156.jpg")(title="Crab Dinner (大闸蟹)， Oct 2011")
                +li_a_img("http://iwct.sjtu.edu.cn/Personal/xwang8/Photos.files/image157.jpg")(title="Crab Dinner (大闸蟹)， Oct 2011")
                +li_a_img("http://iwct.sjtu.edu.cn/Personal/xwang8/Photos.files/image158.jpg")(title="Crab Dinner (大闸蟹)， Oct 2011")
                +li_a_img("http://iwct.sjtu.edu.cn/Personal/xwang8/Photos.files/image159.jpg")(title="Crab Dinner (大闸蟹)， Oct 2011")
                +li_a_img("http://iwct.sjtu.edu.cn/Personal/xwang8/Photos.files/image161.jpg")(title="Qin Yi’s Birthday, Sept 2011")
                +li_a_img("http://iwct.sjtu.edu.cn/Personal/xwang8/Photos.files/image162.jpg")(title="Qin Yi’s Birthday, Sept 2011")
                +li_a_img("http://iwct.sjtu.edu.cn/Personal/xwang8/Photos.files/image163.jpg")(title="Graduation, June 2011")
                +li_a_img("http://iwct.sjtu.edu.cn/Personal/xwang8/Photos.files/image164.jpg")(title="Graduation, June 2011")
                +li_a_img("http://iwct.sjtu.edu.cn/Personal/xwang8/Photos.files/image165.jpg")(title="Graduation, June 2011")
                +li_a_img("http://iwct.sjtu.edu.cn/Personal/xwang8/Photos.files/image166.jpg")(title="Graduation, June 2011")
                +li_a_img("http://iwct.sjtu.edu.cn/Personal/xwang8/Photos.files/image167.jpg")(title="Shangxing’s birthday, 2011")
                +li_a_img("http://iwct.sjtu.edu.cn/Personal/xwang8/Photos.files/image168.jpg")(title="Shangxing’s birthday, 2011")
                +li_a_img("http://iwct.sjtu.edu.cn/Personal/xwang8/Photos.files/image169.jpg")(title="Guanglin’s birthday, 2011")
                +li_a_img("http://iwct.sjtu.edu.cn/Personal/xwang8/Photos.files/image170.jpg")(title="Guanglin’s birthday, 2011")
                +li_a_img("http://iwct.sjtu.edu.cn/Personal/xwang8/Photos.files/image171.jpg")(title="FLY’s birthday, 2011")
                +li_a_img("http://iwct.sjtu.edu.cn/Personal/xwang8/Photos.files/image172.jpg")(title="FLY’s birthday, 2011")
                +li_a_img("http://iwct.sjtu.edu.cn/Personal/xwang8/Photos.files/image173.jpg")(title="FLY’s birthday, 2011")
                +li_a_img("http://iwct.sjtu.edu.cn/Personal/xwang8/Photos.files/image174.jpg")(title="Kite Flying, April, 2011")
                +li_a_img("http://iwct.sjtu.edu.cn/Personal/xwang8/Photos.files/image175.jpg")(title="Kite Flying, April, 2011")
                +li_a_img("http://iwct.sjtu.edu.cn/Personal/xwang8/Photos.files/image176.jpg")(title="Birthday Dinner, 2010")
                +li_a_img("http://iwct.sjtu.edu.cn/Personal/xwang8/Photos.files/image177.jpg")(title="Mid-Autumn Festival, 2010")
                +li_a_img("http://iwct.sjtu.edu.cn/Personal/xwang8/Photos.files/image178.jpg")(title="Yellow Mountain Trip, Aug 2009")
                +li_a_img("http://iwct.sjtu.edu.cn/Personal/xwang8/Photos.files/image179.jpg")(title="2009 Graduation")
                +li_a_img("http://iwct.sjtu.edu.cn/Personal/xwang8/Photos.files/image180.jpg")(title="2009 Graduation")
                +li_a_img("http://iwct.sjtu.edu.cn/Personal/xwang8/Photos.files/image181.jpg")(title="2009 Graduation")
                +li_a_img("http://iwct.sjtu.edu.cn/Personal/xwang8/Photos.files/image182.jpg")(title="IWCT Group’s trip May 2007")
                +li_a_img("http://iwct.sjtu.edu.cn/Personal/xwang8/Photos.files/image183.jpg")(title="My graduation, May 2006")
                +li_a_img("http://iwct.sjtu.edu.cn/Personal/xwang8/Photos.files/image184.jpg")(title="My graduation, May 2006")
                +li_a_img("http://iwct.sjtu.edu.cn/Personal/xwang8/Photos.files/image185.jpg")(title="My graduation, May 2006")
                +li_a_img("http://iwct.sjtu.edu.cn/Personal/xwang8/Photos.files/image186.jpg")(title="My graduation, May 2006")
block append scripts
    script(src="js/libs/modernizr.custom.js")
    script(src="js/libs/masonry.pkgd.min.js")
    script(src="js/libs/imagesloaded.pkgd.min.js")
    script(src="js/libs/classie.js")
    script(src="js/libs/colorfinder-1.1.js")
    script(src="js/libs/gridScrollFx.js")
    script.
        'use strict';
        new GridScrollFx(document.getElementById('grid'),
                {viewportFactor: 0.4}
        );
        function leftPad(number, targetLength) {
            var output = number + '';
            while (output.length < targetLength) {
                output = '0' + output;
            }
            return output;
        }
        $('#grid').find('a').click(function (e) {
            if($(this).find('img').attr('src')) {
                e.preventDefault();
                var modal = $("#photo-modal");
                modal.removeClass("loaded");
                var src = $(this).find('img').attr('src');
                if ($(this).find('img').attr('data-retina')) {
                    var filename = src.replace(/^.*[\\\/]/, '');
                    var fileno = filename.match(/([a-zA-Z]+)([0]*)([1-9]+[0-9]*)(.[a-zA-Z]+)/);
                    filename = fileno[1] + fileno[2] + leftPad(parseInt(fileno[3]) - 1, fileno[3].length) + fileno[4];
                    $('#photo-large').attr('src', 'Photos.files/' + filename);
                } else {
                    $('#photo-large').attr('src', src);
                }
                $(modal).find('h3').html($(this).find('h3').html());
                modal.addClass('active');
                imagesLoaded(modal, function () {
                    $(modal).addClass("loaded");
                });
            }
        });