extends _base

block vars
    - var title = "Publication"
    - var body_id = "publication"
    - var footer_shaded = false

block content
    include _splash
    include _navbar
    .wrapper
        section.row.text-center
            header
                h5 Talk Slides: "Spatial and Temporal Relationship for Stochastic Networks"
                    a(href="http://iwct.sjtu.edu.cn/Personal/xwang8/paper/spatial_and_temporal_networks_wxb.ppt")  [PPT]
                h5 Monograph: "MotionCast for Mobile Wireless Networks," Springer Publisher, 2012.
                    a(href="http://iwct.sjtu.edu.cn/Personal/xwang8/paper/Monograph.pdf")  [PDF]
            ul.dbtns
                +li_btn("publication_by_area.html", "View by Area")(btn_style="warning")
                +li_btn("publication_by_date.html", "View by Date")(btn_style="secondary", open_in_current)
                +li_btn("http://scholar.google.com/citations?user=CT5yZbwAAAAJ&hl=en", "Google Scholar")(btn_style="primary")
    .wrapper(style="padding-top: 0;")
        section.row
            h3.text-center Journal
            ol
                +li_cite("Y. Qin, X. Tian, W. Wu, Xinbing Wang",
                "Mobility Weakens the Distinction between Multicast and Unicast",
                "to appear in",
                "IEEE/ACM Transactions on Networking",
                "2015. (Corresponding Author)",
                {url:"http://iwct.sjtu.edu.cn/Personal/xwang8/paper/TON2015_Mobility.pdf", title:"PDF"},
                {url:"http://iwct.sjtu.edu.cn/Personal/xwang8/paper/TON2015_Mobility.pptx", title:"PPT"})(
                abbr="TON"
                )
                +li_cite("X. Cao, J. Zhang, L. Fu, W. Wu, Xinbing Wang",
                "Optimal Secrecy Capacity-Delay Tradeoff in Large-Scale Mobile Ad Hoc Networks",
                "to appear in",
                "IEEE/ACM Transactions on Networking",
                "2015. (Corresponding Author)",
                {url:"http://iwct.sjtu.edu.cn/Personal/xwang8/paper/TON2015.pdf", title:"PDF"},
                {url:"http://iwct.sjtu.edu.cn/Personal/xwang8/paper/TON2015.ppt", title:"PPT"})(
                abbr="TON"
                )
                +li_cite("Q. Liang, Xinbing Wang, X. Tian, F. Wu, Q. Zhang",
                "Two-Dimensional Route Switching in Cognitive Radio Networks: A Game-Theoretical Framework",
                "to appear in",
                "IEEE/ACM Transactions on Networking",
                "2014. (Corresponding Author)",
                {url:"http://iwct.sjtu.edu.cn/Personal/xwang8/paper/TON2014.pdf", title:"PDF"},
                {url:"http://iwct.sjtu.edu.cn/Personal/xwang8/paper/TON2014.ppt", title:"PPT"})(
                abbr="TON"
                )
                +li_cite("S. Zhao, Xinbing Wang",
                "Node Density and Delay in Large-Scale Wireless Networks with Unreliable Links",
                "to appear in",
                "IEEE/ACM Transactions on Networking",
                "vol. 22, no. 4, pp. 1150-1163,2015. (Corresponding Author)",
                {url:"http://iwct.sjtu.edu.cn/Personal/xwang8/paper/TON2013_2.pdf", title:"PDF"},
                {url:"http://iwct.sjtu.edu.cn/Personal/xwang8/paper/MobiCom2011_slides.ppt", title:"PPT"})(
                abbr="TON"
                )
                +li_cite("Y. Li, Q. Peng, Xinbing Wang",
                "Multicast Capacity with Max-Min Fairness for Heterogeneous Networks",
                "in",
                "IEEE/ACM Transactions on Networking",
                "vol 22, no 2, pp. 622-635, 2014. (Corresponding Author)",
                {url:"http://iwct.sjtu.edu.cn/Personal/xwang8/paper/TON2013_1.pdf", title:"PDF"},
                {url:"http://iwct.sjtu.edu.cn/Personal/xwang8/paper/INFOCOM2011_HCN_slides.ppt", title:"PPT"})(
                abbr="TON"
                )
                +li_cite("J. Zhang, L. Fu, Xinbing Wang",
                "Asymptotic Analysis on Secrecy Capacity in Large-Scale Wireless Networks",
                "in",
                "IEEE/ACM Transactions on Networking",
                "vol 22, no 1, pp. 66-79, 2014. (Corresponding Author)",
                {url:"http://iwct.sjtu.edu.cn/Personal/xwang8/paper/TON2013.pdf", title:"PDF" },
                {url:"http://iwct.sjtu.edu.cn/Personal/xwang8/paper/TON2013.ppt", title:"PPT"})(
                abbr="TON"
                )
                +li_cite("Xinbing Wang, X. Lin, Q. Wang, W. Luan",
                "Mobility Increases the Connectivity of Wireless Networks",
                "in",
                "IEEE/ACM Transactions on Networking",
                "vol. 21, no. 2, pp. 440-454, 2013. (Corresponding Author)",
                {url:"http://iwct.sjtu.edu.cn/Personal/xwang8/paper/TON2012.pdf", title:"PDF"},
                {url:"http://iwct.sjtu.edu.cn/Personal/xwang8/paper/MobiCom09.ppt", title:"PPT"})(
                abbr="TON"
                )
                +li_cite("W. Huang, Xinbing Wang",
                "Capacity Scaling of General Cognitive Networks",
                "in",
                "IEEE/ACM Transactions on Networking",
                "vol 20, no. 5, pp. 1501-1513, 2012. (Corresponding Author)",
                {url:"http://iwct.sjtu.edu.cn/Personal/xwang8/paper/TON2011_2.pdf", title:"PDF"},
                {url:"http://iwct.sjtu.edu.cn/Personal/xwang8/paper/INFOCOM2011_CR_Capacity_slides.pdf", title:"PPT"})(
                abbr="TON"
                )
                +li_cite("Xinbing Wang, L. Fu, C. Hu",
                "Multicast Performance with Hierarchical Cooperation",
                "in",
                "IEEE/ACM Transactions on Networking",
                "vol 20, no 3, pp. 917-930, 2012. (Corresponding Author)",
                {url:"http://iwct.sjtu.edu.cn/Personal/xwang8/paper/TON2011_1.pdf"},
                {url:"http://iwct.sjtu.edu.cn/Personal/xwang8/paper/TON2011_1_long.pdf", title:"longer version"})(
                abbr="TON"
                )
                +li_cite("Xinbing Wang, W. Huang, S. Wang, J. Zhang, C. Hu",
                "Delay and Capacity Tradeoff Analysis for MotionCast",
                "in",
                "IEEE/ACM Transactions on Networking",
                "vol. 19, no. 5, pp. 1354-1367, Oct 2011. (Corresponding Author)",
                {url:"http://iwct.sjtu.edu.cn/Personal/xwang8/paper/TON2011.pdf"},
                {url:"http://iwct.sjtu.edu.cn/Personal/xwang8/paper/MobiHoc09.ppt"})(
                abbr="TON"
                )
                +li_cite("D. Eun, Xinbing Wang",
                "Achieving 100% Throughput in TCP/AQM under Aggressive Packet Marking with Small Buffer",
                "in",
                "IEEE/ACM Transactions on Networking",
                "vol. 16, no. 4, pp: 945-956, August 2008. ",
                {url:"http://iwct.sjtu.edu.cn/Personal/xwang8/paper/TON08.pdf"})(
                abbr="TON"
                )
                +li_cite("Xinbing Wang, S. Han, Y. Wu, X. Wang",
                "Coverage and Energy Consumption Control in Mobile Heterogeneous Wireless Sensor Networks",
                "in",
                "IEEE Transactions on Automatic Control",
                "vol. 58, no. 4, pp. 975-988, 2013 (regular paper). (Corresponding Author)",
                {url:"http://iwct.sjtu.edu.cn/Personal/xwang8/paper/TAC2012.pdf"})(
                abbr="TAC"
                )
    .wrapper
        section.row
            h3.row.text-center Conference
            ol
                +li_cite("C. Li, C. Peng, S. Lu, Xinbing Wang",
                "EERA: Energy-Efficient Rate Adaptation for 802.11n Devices",
                "in",
                "Proc. of ACM Mobicom 2012",
                "Istanbul, Turkey, Aug 2012.")(
                abbr="MOBICOM"
                )
                +li_cite("S. Zhao, L. Fu, Xinbing Wang, Q. Zhang",
                "Fundamental Relationship between Node Density and Delay in Wireless Ad Hoc Networks with Unreliable Links",
                "in",
                "Proc. of ACM Mobicom 2011",
                "Las Vegas, Sept 2011 (Corresponding Author).",
                {url:"http://iwct.sjtu.edu.cn/Personal/xwang8/paper/MOBICOM2011.pdf", title:"PDF"},
                {url:"http://iwct.sjtu.edu.cn/Personal/xwang8/paper/MOBICOM2011_Tech.pdf", title:"Technical Report"},
                {url:"http://iwct.sjtu.edu.cn/Personal/xwang8/paper/MobiCom2011_slides.ppt", title:"Slides PPT"}
                )(
                abbr="MOBICOM"
                )
                +li_cite("Q. Wang, Xinbing Wang, X. Lin",
                "Mobility Increases the Connectivity of K-hop Clustered Wireless Networks",
                "in",
                "Proc. of ACM Mobicom 2009",
                "Beijing, September 2009. (Corresponding Author)",
                {url:"http://iwct.sjtu.edu.cn/Personal/xwang8/paper/MobiCom09.pdf", title:"PDF"},
                {url:"http://iwct.sjtu.edu.cn/Personal/xwang8/paper/MobiCom09.ppt", title:"Slides PPT"}
                )(
                abbr="MOBICOM"
                )
                +li_cite("H. Gong, L. Zhao, K. Wang, W. Wu, Xinbing Wang",
                "A Distributed Algorithm to Construct Multicast Trees in,WSNs: An Approximate Steiner Tree Approach",
                "in",
                "Proc. of ACM MobiHoc 2015",
                "Hangzhou, China, June, 2015.(Corresponding Author)",
                {url:"http://iwct.sjtu.edu.cn/Personal/xwang8/paper/MobiHoc2015.pdf", title:"PDF"},
                {url:"http://iwct.sjtu.edu.cn/Personal/xwang8/paper/MobiHoc2015_slides.pptx", title:"Slides PPT"},
                {url: "http://iwct.sjtu.edu.cn/Personal/xwang8/paper/MobiHoc2015_TechReport.pdf",  title: "Technical Report"},
                {url: "http://iwct.sjtu.edu.cn/Personal/xwang8/paper/TST_sourcecode.zip",  title: "Alogorithm SourceCode"}
                )(
                abbr="MOBIHOC")
                +li_cite("L. Fu, Xinbing Wang, P. R. Kumar",
                "Optimal determination of source-destination connectivity in random graphs",
                "in",
                "Proc. of ACM MobiHoc 2014",
                "Philadelphia, PA, USA, Aug, 2014.(Corresponding Author)",
                {url:"http://iwct.sjtu.edu.cn/Personal/xwang8/paper/MobiHoc2014.pdf", title:"PDF"},
                {url:"http://iwct.sjtu.edu.cn/Personal/xwang8/paper/MobiHoc2014_slides1.pptx", title:"Slides PPT"}
                )(
                abbr="MOBIHOC")
                +li_cite("Y. Chen, J. Zhang, Xinbing Wang, X. Tian, W. Wu, F. Wu, C. W. Tan",
                "Secrecy Capacity Scaling of Large-Scale Cognitive Networks",
                "in",
                "Proc. of ACM MobiHoc 2014",
                "Philadelphia, PA, USA, Aug, 2014.(Corresponding Author)",
                {url:"http://iwct.sjtu.edu.cn/Personal/xwang8/paper/MobiHoc2014_1.pdf", title:"PDF"},
                {url:"http://iwct.sjtu.edu.cn/Personal/xwang8/paper/MobiHoc2014_slides1.pptx", title:"Slides PPT"}
                )(
                abbr="MOBIHOC")
                +li_cite("Y. Wu, Xinbing Wang",
                "Characteristic Function of Connectivity with Obstacles",
                "to appear in",
                "Proc. of ACM MobiHoc 2013",
                "Bangalore, Indian, Aug, 2013. (4-page poster paper) (Corresponding Author)")(
                abbr="MOBIHOC")
                +li_cite("Q. Liang, Xinbing Wang, X. Tian, Q. Zhang",
                "Route-Switching Games in Cognitive Radio Networks",
                "in",
                "Proc. of ACM MobiHoc 2013",
                "Bangalore, Indian, Aug, 2013. (4-page poster paper) (Corresponding Author)")(
                abbr="MOBIHOC")
                +li_cite("Z. Liu, Xinbing Wang, W. Luan, S. Lu",
                "Transmission Delay in Large Scale Ad Hoc Cognitive Radio Networks",
                "in",
                "Proc. of ACM MobiHoc 2012",
                "SC, USA, June, 2012 (Corresponding Author)",
                {url:"http://iwct.sjtu.edu.cn/Personal/xwang8/paper/MobiHoc2012.pdf", title:"PDF"},
                {url:"http://iwct.sjtu.edu.cn/Personal/xwang8/paper/MobiHoc2012_slides.pdf", title:"Slides PPT"}
                )(
                abbr="MOBIHOC")
                +li_cite("C. Hu, Xinbing Wang, F. Wu",
                "MotionCast: On the Capacity and Delay Tradeoffs",
                "in",
                "Proc. of ACM MobiHoc 2009",
                "New Orleans, May 2009. (Corresponding Author) ",
                {url:"http://iwct.sjtu.edu.cn/Personal/xwang8/paper/MobiHoc09.pdf", title:"PDF"},
                {url:"http://iwct.sjtu.edu.cn/Personal/xwang8/paper/MobiHoc09.ppt", title:"Slides PPT"}
                )(
                abbr="MOBIHOC")
                +li_cite("L. Gao, and Xinbing Wang",
                "A Game Approach for Multi-Channel Allocation in Multi-Hop Wireless Networks",
                "in",
                "Proc. of ACM MobiHoc 2008",
                "Hong Kong, May 2008. (Corresponding Author)",
                {url:"http://iwct.sjtu.edu.cn/Personal/xwang8/paper/MobiHoc08.pdf", title:"PDF"},
                {url:"http://iwct.sjtu.edu.cn/Personal/xwang8/paper/MobiHoc08.ppt", title:"Slides PPT"}
                )(
                abbr="MOBIHOC")
                +li_cite("Q. Wang, L. Liu, J. Zhang, X. Wang, Xinbing Wang, S. Lu",
                "Impact of Correlated Mobility and Cluster Scalability on Connectivity of Wireless Networks",
                "in",
                "Proc. of ACM Sigmetrics 2014 (2 pages poster)",
                "Austin, Texas, US, June 2014. (Corresponding Author)",
                {url:"http://iwct.sjtu.edu.cn/Personal/xwang8/paper/sigmetrics2014.pdf", title:"PDF"},
                {url:"http://iwct.sjtu.edu.cn/Personal/xwang8/paper/sigmetrics2014.pptx", title:"Slides PPT"}
                )(
                abbr="SIGMETRICS")
                +li_cite("C. Ma, W. Wu, Y. Cui, Xinbing Wang",
                "On the Performance of Successive Interference Cancellation in D2D-enabled Cellular Networks",
                "in",
                "Proc. of IEEE INFOCOM",
                "Hong Kong, China, Apr, 2015. ",
                {url:"http://iwct.sjtu.edu.cn/Personal/xwang8/paper/INFOCOM2015_D2D.pdf", title:"PDF"},
                {url:"http://iwct.sjtu.edu.cn/Personal/xwang8/paper/INFOCOM2015_D2D_Tech.pdf", title:"Technical Report"},
                {url:"http://iwct.sjtu.edu.cn/Personal/xwang8/paper/INFOCOM2015_D2D_slides.pdf", title:"Slides PPT"}
                )(
                abbr="INFOCOM")
                +li_cite("K. Sheng, Z. Gu, X. Mao, X. Tian, W. Wu, X. Gan, Xinbing Wang",
                "The Collocation of Measurement Points in Large Open Indoor Environment",
                "in",
                "Proc. of IEEE INFOCOM",
                "Hong Kong, China, Apr, 2015. ",
                {url:"http://iwct.sjtu.edu.cn/Personal/xwang8/paper/INFOCOM2015_collocation.pdf", title:"PDF"},
                {url:"http://iwct.sjtu.edu.cn/Personal/xwang8/paper/INFOCOM2015_collocation_Tech.pdf", title:"Technical Report"},
                {url:"http://iwct.sjtu.edu.cn/Personal/xwang8/paper/INFOCOM2015-collocation-slides.pptx", title:"Slides PPT"}
                )(
                abbr="INFOCOM")
                +li_cite("Q. Zhang, Y. Wen, X. Tian, X. Gan, Xinbing Wang",
                "Incentivize Crowd Labeling under Budget Constraint",
                "in",
                "Proc. of IEEE INFOCOM",
                "Hong Kong, China, Apr, 2015. ",
                {url:"http://iwct.sjtu.edu.cn/Personal/xwang8/paper/INFOCOM2015_crowd.pdf", title:"PDF"},
                {url:"http://iwct.sjtu.edu.cn/Personal/xwang8/paper/INFOCOM2015_crowd_slides.pptx", title:"Slides PPT"}
                )(
                abbr="INFOCOM")
                +li_cite("Y. Wen, X. Tian, Xinbing Wang, S. Lu",
                "Fundamental Limits of RSS Fingerprinting based Indoor Localization",
                "in",
                "Proc. of IEEE INFOCOM",
                "Hong Kong, China, Apr, 2015. ",
                {url:"http://iwct.sjtu.edu.cn/Personal/xwang8/paper/INFOCOM2015_indoorlocalization.pdf", title:"PDF"}
                )(
                abbr="INFOCOM")
                +li_cite("C. Kong, Z. Yuan, X. Han, F. Yang, Xinbing Wang, T. Wang, S. Lu",
                "VSMC MIMO: A Spectral Efficient Scheme for Cooperative Relay in Cognitive Radio Networks",
                "in",
                "Proc. of IEEE INFOCOM",
                "Hong Kong, China, Apr, 2015. ",
                {url:"http://iwct.sjtu.edu.cn/Personal/xwang8/paper/INFOCOM2015_VSMC_MIMO.pdf", title:"PDF"},
                {url:"http://iwct.sjtu.edu.cn/Personal/xwang8/paper/INFOCOM2015_VSMC_MIMO_slides.pptx", title:"Slides PPT"}
                )(
                abbr="INFOCOM")
                +li_cite("Y. Hu, Xinbing Wang, X. Gan",
                "Critical Sensing Range for Mobile Heterogeneous Camera Sensor Networks",
                "to appear in",
                "Proc. of IEEE INFOCOM 2014",
                "April, Toronto, 2014. (Corresponding Author) ",
                {url:"http://iwct.sjtu.edu.cn/Personal/xwang8/paper/INFOCOM2014_coverage.pdf", title:"PDF"},
                {url:"http://iwct.sjtu.edu.cn/Personal/xwang8/paper/INFOCOM2014_coverage_Tech.pdf", title:"Technical Report"},
                {url:"http://iwct.sjtu.edu.cn/Personal/xwang8/paper/INFOCOM2014_coverage_slides.pptx", title:"Slides PPT"}
                )(
                abbr="INFOCOM")
                +li_cite("S. Yao, Xinbing Wang, X. Tian, Q. Zhang",
                "Delay-Throughput Tradeoff with Correlated Mobility of Ad-Hoc Networks",
                "to appear in",
                "Proc. of IEEE INFOCOM 2014",
                "April, Toronto, 2014. (Corresponding Author) ",
                {url:"http://iwct.sjtu.edu.cn/Personal/xwang8/paper/INFOCOM2014_capacity.pdf", title:"PDF"},
                {url:"http://iwct.sjtu.edu.cn/Personal/xwang8/paper/INFOCOM2014_capacity_Tech.pdf", title:"Technical Report"},
                {url:"http://iwct.sjtu.edu.cn/Personal/xwang8/paper/INFOCOM2014_capacity_slides.ppt", title:"Slides PPT"}
                )(
                abbr="INFOCOM")
                +li_cite("Y. Zhao, Y. Zhang, T. Yu, T. Liu, Xinbing Wang, X. Tian, X. Liu",
                "CityDrive: A Map-Generating and Speed-Optimizing Driving System",
                "to appear in",
                "Proc. of IEEE INFOCOM 2014",
                "April, Toronto, 2014. (Corresponding Author) ",
                {url:"http://iwct.sjtu.edu.cn/Personal/xwang8/paper/INFOCOM2014_citydrive.pdf", title:"PDF"},
                {url:"http://iwct.sjtu.edu.cn/Personal/xwang8/paper/INFOCOM2014_citydrive_Tech.pdf", title:"Technical Report"},
                {url:"http://iwct.sjtu.edu.cn/Personal/xwang8/paper/INFOCOM2014_citydrive_slides.pptx", title:"Slides PPT"}
                )(
                abbr="INFOCOM")
                +li_cite("T. Yu, Z. Zhou, D. Zhang, Xinbing Wang, Y. Liu, S. Lu",
                "INDAPSON: An Incentive Data Plan Sharing System Based on Self-Organizing Network",
                "to appear in",
                "Proc. of IEEE INFOCOM 2014",
                "April, Toronto, 2014. (Corresponding Author) ",
                {url:"http://iwct.sjtu.edu.cn/Personal/xwang8/paper/INFOCOM2014_indapson.pdf", title:"PDF"},
                {url:"http://iwct.sjtu.edu.cn/Personal/xwang8/paper/INFOCOM2014_indapson_Tech.pdf", title:"Technical Report"},
                {url:"http://iwct.sjtu.edu.cn/Personal/xwang8/paper/INFOCOM2014_indapson_slides.ppt", title:"Slides PPT"}
                )(
                abbr="INFOCOM")
                +li_cite("R. Jia, J. Zhang, Xinbing Wang, X. Tian, Q. Zhang",
                "Scaling Laws for Heterogeneous Cognitive Radio Networks with Cooperative Secondary Users",
                "to appear in",
                "Proc. of IEEE INFOCOM 2014",
                "April, Toronto, 2014. (Corresponding Author) ",
                {url:"http://iwct.sjtu.edu.cn/Personal/xwang8/paper/INFOCOM2014_CRcapacity.pdf", title:"PDF"},
                {url:"http://iwct.sjtu.edu.cn/Personal/xwang8/paper/INFOCOM2014_CRcapacity_Tech.pdf", title:"Technical Report"},
                {url:"http://iwct.sjtu.edu.cn/Personal/xwang8/paper/INFOCOM2014_CRcapacity_slides.ppt", title:"Slides PPT"}
                )(
                abbr="INFOCOM")
                +li_cite("S. Yang, Xinbing Wang, L. Fu",
                "On the Topology of Wireless Sensor Networks",
                "in",
                "Proc. of IEEE INFOCOM 2012",
                "March, Orlando, 2012. (Corresponding Author) ",
                {url:"http://iwct.sjtu.edu.cn/Personal/xwang8/paper/INFOCOM2012_Topology.pdf", title:"PDF"},
                {url:"http://iwct.sjtu.edu.cn/Personal/xwang8/paper/Topology.pdf", title:"Technical Report"},
                {url:"http://iwct.sjtu.edu.cn/Personal/xwang8/paper/INFOCOM2012_topology_slides.pptx", title:"Slides PPT"}
                )(
                abbr="INFOCOM")
                +li_cite("J. Zhang, L. Fu, Xinbing Wang",
                "Impact of Secrecy on Capacity in Large-Scale Wireless Networks",
                "in",
                "Proc. of IEEE INFOCOM 2012 (mini conference)",
                "March, Orlando, 2012. (Corresponding Author) ",
                {url:"http://iwct.sjtu.edu.cn/Personal/xwang8/paper/INFOCOM2012_Secrecy_Capacity.pdf", title:"PDF"},
                {url:"http://iwct.sjtu.edu.cn/Personal/xwang8/paper/INFOCOM2012_Secrecy_Capacity_Techreport.pdf", title:"Technical Report"},
                {url:"http://iwct.sjtu.edu.cn/Personal/xwang8/paper/INFOCOM2012_Secrecy_Capacity_slides.ppt", title:"Slides PPT"}
                )(
                abbr="INFOCOM")
                +li_cite("X. Chen, W. Huang, Xinbing Wang, X. Lin",
                "Multicast Capacity in Mobile Wireless Ad Hoc Network with Infrastructure Support",
                "in",
                "Proc. of IEEE INFOCOM 2012",
                "March, Orlando, 2012. (Corresponding Author) ",
                {url:"http://iwct.sjtu.edu.cn/Personal/xwang8/paper/INFOCOM2012_mobile_multicast.pdf", title:"PDF"},
                {url:"http://iwct.sjtu.edu.cn/Personal/xwang8/paper/mobile-multicast.pdf", title:"Technical Report"},
                {url:"http://iwct.sjtu.edu.cn/Personal/xwang8/paper/INFOCOM2012_mobile_multicast_slides.ppt", title:"Slides PPT"}
                )(
                abbr="INFOCOM")
                +li_cite("Y. Li, Xinbing Wang, X. Tian, X. Liu",
                "Scaling Laws for Cognitive Radio Network with Heterogeneous Mobile Secondary Users",
                "in",
                "Proc. of IEEE INFOCOM 2012",
                "March, Orlando, 2012. (Corresponding Author) ",
                {url:"http://iwct.sjtu.edu.cn/Personal/xwang8/paper/INFOCOM2012_CRHetero.pdf", title:"PDF"},
                {url:"http://iwct.sjtu.edu.cn/Personal/xwang8/paper/CRHetero.pdf", title:"Technical Report"},
                {url:"http://iwct.sjtu.edu.cn/Personal/xwang8/paper/CRHetero_slides.ppt", title:"Slides PPT"}
                )(
                abbr="INFOCOM")
                +li_cite("M. Dong, G. Sun, Xinbing Wang, Q. Zhang",
                "Combinatorial Auction with Time-Frequency Flexibility in Cognitive Radio Networks",
                "in",
                "Proc. of IEEE INFOCOM 2012",
                "March, Orlando, 2012. (Corresponding Author) ",
                {url:"http://iwct.sjtu.edu.cn/Personal/xwang8/paper/INFOCOM2012_CR_Auction.pdf", title:"PDF"},
                {url:"http://iwct.sjtu.edu.cn/Personal/xwang8/paper/INFOCOM2012_CR_TimeFlex_slides.pptx", title:"Slides PPT"}
                )(
                abbr="INFOCOM")
                +li_cite("H. Jin, G. Sun, Xinbing Wang, Q. Zhang",
                "Spectrum Trading with Insurance in Cognitive Radio Networks",
                "in",
                "Proc. of IEEE INFOCOM 2012",
                "March, Orlando, 2012. (Corresponding Author) ",
                {url:"http://iwct.sjtu.edu.cn/Personal/xwang8/paper/INFOCOM2012_CR_Insurance.pdf", title:"PDF"},
                {url:"http://iwct.sjtu.edu.cn/Personal/xwang8/paper/INFOCOM2012_CR_Insurance_slides.pdf", title:"Slides PPT"}
                )(
                abbr="INFOCOM")
                +li_cite("H. Zheng, S. Xiao, Xinbing Wang, X. Tian",
                "Energy and Latency Analysis for In-network Computation with Compressive Sensing in Wireless Sensor Networks",
                "in",
                "Proc. of IEEE INFOCOM 2012 (mini conference)",
                "March, Orlando, 2012. (Corresponding Author) ",
                {url:"http://iwct.sjtu.edu.cn/Personal/xwang8/paper/INFCOM2012_InNetworkComputation.pdf", title:"PDF"},
                {url:"http://iwct.sjtu.edu.cn/Personal/xwang8/paper/INFCOM2012_InNetworkComputation_techreport.pdf", title:"Technical Report"},
                {url:"http://iwct.sjtu.edu.cn/Personal/xwang8/paper/INFCOM2012_InNetworkComputation_slides.ppt", title:"Slides PPT"}
                )(
                abbr="INFOCOM")
                +li_cite("W. Huang, Xinbing Wang",
                "Throughput and Delay Scaling of General Cognitive Networks",
                "in",
                "Proc. of IEEE INFOCOM 2011",
                "Shanghai, China. (Corresponding Author) ",
                {url:"http://iwct.sjtu.edu.cn/Personal/xwang8/paper/INFOCOM2011_CR_Capacity.pdf", title:"PDF"},
                {url:"http://iwct.sjtu.edu.cn/Personal/xwang8/paper/INFOCOM2011_Tech_CR_Capacity.pdf", title:"Technical Report"},
                {url:"http://iwct.sjtu.edu.cn/Personal/xwang8/paper/INFOCOM2011_CR_Capacity_slides.pdf", title:"Slides PPT"}
                )(
                abbr="INFOCOM")
                +li_cite("Q. Peng, Xinbing Wang, H. Tang",
                "Heterogeneity Increases Multicast Capacity in Clustered Network",
                "in",
                "Proc. of IEEE INFOCOM 2011",
                "Shanghai, China. (Corresponding Author) ",
                {url:"http://iwct.sjtu.edu.cn/Personal/xwang8/paper/INFOCOM2011_HCN.pdf", title:"PDF"},
                {url:"http://iwct.sjtu.edu.cn/Personal/xwang8/paper/INFOCOM2011_Tech_HCN.pdf", title:"Technical Report"},
                {url:"http://iwct.sjtu.edu.cn/Personal/xwang8/paper/INFOCOM2011_HCN_slides.ppt", title:"Slides PPT"}
                )(
                abbr="INFOCOM")
                +li_cite("Y. Xu, Xinbing Wang",
                "Fundamental Lower Bound for Node Buffer Size in Intermittently Connected Wireless Networks",
                "in",
                "Proc. of IEEE INFOCOM 2011",
                "Shanghai, China. (Corresponding Author) ",
                {url:"http://iwct.sjtu.edu.cn/Personal/xwang8/paper/INFOCOM2011_Lowerbound.pdf", title:"PDF"},
                {url:"http://iwct.sjtu.edu.cn/Personal/xwang8/paper/INFOCOM2011_Tech_lowerbound.pdf", title:"Technical Report"},
                {url:"http://iwct.sjtu.edu.cn/Personal/xwang8/paper/INFOCOM2011_Lowerbound_slides.ppt", title:"Slides PPT"}
                )(
                abbr="INFOCOM")
                +li_cite("L. Fu, Y. Qin, Xinbing Wang, X. Liu",
                "Converge-Cast with MIMO",
                "in",
                "Proc. of IEEE INFOCOM 2011",
                "Shanghai, China. (Corresponding Author) ",
                {url:"http://iwct.sjtu.edu.cn/Personal/xwang8/paper/INFOCOM2011_ConvergeCast.pdf", title:"PDF"},
                {url:"http://iwct.sjtu.edu.cn/Personal/xwang8/paper/INFOCOM2011_Tech_ConvergeCast.pdf", title:"Technical Report"},
                {url:"http://iwct.sjtu.edu.cn/Personal/xwang8/paper/INFOCOM2011_ConvergeCast_slides.ppt", title:"Slides PPT"}
                )(
                abbr="INFOCOM")
                +li_cite("Y. Wang, X. Chu, Xinbing Wang, Y. Cheng",
                "Optimal Multicast Capacity and Delay Tradeoffs in MANETs: A Global Perspective",
                "in",
                "Proc. of IEEE INFOCOM 2011",
                "Shanghai, China. (Corresponding Author) ",
                {url:"http://iwct.sjtu.edu.cn/Personal/xwang8/paper/INFOCOM2011_Optimal_MultiCast.pdf", title:"PDF"},
                {url:"http://iwct.sjtu.edu.cn/Personal/xwang8/paper/INFOCOM2011_Tech_Optimal_MultiCast.pdf", title:"Technical Report"},
                {url:"http://iwct.sjtu.edu.cn/Personal/xwang8/paper/INFOCOM2011_Optimal_MultiCast_slides.ppt", title:"Slides PPT"}
                )(
                abbr="INFOCOM")
                +li_cite("C. Hu, Xinbing Wang, D. Nie, J. Zhao",
                "Multicast Scaling Laws with Hierarchical Cooperation",
                "in",
                "Proc. of IEEE INFOCOM 2010",
                "San Deigo, USA, 2010. (Corresponding Author) ",
                {url:"http://iwct.sjtu.edu.cn/Personal/xwang8/paper/INFOCOM2010.pdf", title:"PDF"},
                {url:"http://iwct.sjtu.edu.cn/Personal/xwang8/paper/INFOCOM2010.ppt", title:"Slides PPT"}
                )(
                abbr="INFOCOM")
                +li_cite("W. Wang, Xinbing Wang, and A. Nilsson",
                "A New Admission Control Scheme under Energy and QoS Constraints for Wireless Networks",
                "in",
                "Proc. of IEEE INFOCOM 2005",
                "Miami, FL, USA, March 2005"
                )(
                abbr="INFOCOM")